<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests">
 <!-- You can change this to "firefox" or others -->

  <test name="test">
  <parameter name="browser" value="chrome"/>
    <classes>
     <!--class name="com.tripgain.testscripts.TC_01_VerifySearchFunctionalityForOneWayForTwoDay"/>
     <class name="com.tripgain.testscripts.TC_02_VerifySearchFunctionalityForOneWayForFiveDays"/-->
    </classes>
  </test> <!-- Test -->
 
  <test name="test1">
   <parameter name="browser" value="chrome"/>
    <classes>
    <!--class name="com.tripgain.testscripts.TC_01_VerifySearchFunctionalityForOneWayForTwoDay"/>
     <class name="com.tripgain.testscripts.TC_02_VerifySearchFunctionalityForOneWayForFiveDays"/>
     <class name="com.tripgain.testscripts.TC_03_VerifySearchFunctionalityForOneWayForTenDays"/>
     <class name="com.tripgain.testscripts.TC_04_VerifySearchFunctionalityForOneWayForTwentyDays"/-->

    </classes>
  </test>
   <test name="test2">
   <parameter name="browser" value="chrome"/>
    <classes>
    <!--class name="com.tripgain.roundtriptestscripts.TCRT_04_VerifySearchFunctionalityForRoundTripForDomesticFiveDays"/>
    <class name="com.tripgain.roundtriptestscripts.TCRT_02_VerifySearchFunctionalityForRoundTripForDomesticTwoDays"/>
     <class name="com.tripgain.roundtriptestscripts.TCRT_03_VerifySearchFunctionalityForRoundTripForInternationalFiveDays"/>
     <class name="com.tripgain.roundtriptestscripts.TCRT_01_VerifySearchFunctionalityForRoundTripForInternationalTwoDays"/-->
     
    </classes>
  </test>
   
   <test name="test3">
   <parameter name="browser" value="chrome"/>
    <classes>

     <!--class name="com.tripgain.roundtriptestscripts.TCRT_02_VerifySearchFunctionalityForRoundTripForDomesticTwoDays"/>
     <class name="com.tripgain.roundtriptestscripts.TCRT_04_VerifySearchFunctionalityForRoundTripForDomesticFiveDays"/-->


    </classes>
  </test>
 <test name="test4">
  <parameter name="browser" value="chrome"/>
  <classes>
       <!--class name="com.tripgain.hotaltestscripts.TCH_02_VerifySearchFunctionalityForHotelsForTwoDays"/>
        <class name="com.tripgain.hotaltestscripts.TCH_03_VerifySearchFunctionalityForHotelsForFiveDays"/>
       <class name="com.tripgain.hotaltestscripts.TCH_04_VerifySearchFunctionalityForHotelsForTenDays"/>   
                 <class name="com.tripgain.hotaltestscripts.TCH_05_VerifyHotelsPriceLowToHigh"/>
                 <class name="com.tripgain.hotaltestscripts.TCH_06_VerifyHotelsPriceHighToLow"/-->

  </classes>
 </test>
 
 <test name="test5">
  <parameter name="browser" value="chrome"/>
  <classes>
      <!--class name="com.tripgain.busestestscripts.TCB_01_VerifySearchFunctionalityForBusesForTwoDays"/>   
      <class name="com.tripgain.busestestscripts.TCB_02_VerifySearchFunctionalityForBusesForFiveDays"/>   
      <class name="com.tripgain.busestestscripts.TCB_03_VerifySearchFunctionalityForBusesForTenDays"/-->   
      
  </classes>
 </test>
 
  <test name="test6">
  <parameter name="browser" value="chrome"/>
  <classes>
  <!--class name="com.tripgain.trainScripts.TCT_01_VerifySearchFunctionalityForTrainsForFiveDays"/>     
  <class name="com.tripgain.trainScripts.TCT_02_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_03_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_04_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_05_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_06_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_07_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_08_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_09_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_10_VerifySearchFunctionalityForTrains"/>     
<class name="com.tripgain.trainScripts.TCT_11_VerifySearchFunctionalityForTrainsForTwodays"/>     
<class name="com.tripgain.trainScripts.TCT_12_VerifySearchFunctionalityForTrainsForTenDays"/-->     


      
  </classes>
 </test>
 
</suite> <!-- Suite -->
